.myclass{
background-color: blueviolet !important;
}
.container2{
    border: 1px solid blue;
    background-image:url(image/img1.jpg);
    background-color: aquamarine;
    padding: 10px;
}
.mybutton{
    padding: 10px;
}
.form2{
    cursor: pointer;
}
.table2{
    width: 70%;
    margin: 15px;
}
.hello{
    float: left;
    border: 1px solid green;
    margin: 10px;
}